
body{
    margin:0px;
    padding-top: 80px;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 15px 0;
    
}
.navdiv {
    text-align: center;
}

h1{
     margin-left: 20px;
     color: #2c3e50
    
}
.navdiv ul{
    list-style-type: none;
    padding: 15px;
    margin: 0px;
    background-color:#333 ;
    overflow: hidden;
}
.navdiv a{
    color:white;
    padding: 15px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
navbar a:hover {
    text-decoration: underline;
}
.navdiv li{
     float: left;
     margin: 0 20px;

}
h3{
    color: #2c3e50;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 20px;
}

p {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

header {
  text-align: center;
  background-color: #dd8999c8;
  color: white;
  padding: 40px 20px;
}

header h1 {
  margin: 0;
  font-size: 2;
}

header p {
  margin-top: 10px;
  font-size: 1;
}

section {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 8px;
}

input{
    width: 100%;
    padding: 12px;
    border: 1px;
    border-radius: 4px;
}
select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}


input:focus,
select:focus,
textarea:focus {
  border-color: #dd8999c8;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.4);
  outline: none;
}
button {
  background: #dd8999c8;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

button:hover {
  background: #392f2f;
  transform: scale(1.02);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #dd8999c8;
  color: white;
}

tr:hover {
  background-color: #e3f2fd;
  transition: background 0.3s;
}
section {
    margin: 20px;
    padding: 20px;
  }

button {
    width: 100%;
  }
img{
    width:300px;
    height: 280px;
    object-fit: cover;

}

.heading {
  text-align: center;
  background-color: #4CAF50;
  color: white;
  padding: 40px 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
   
.container {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;           
  justify-content: center;                 
  padding: 20px;
  background-color: #f5f5f5;
}
.products{
  display: grid;
  grid-template-columns: repeat(3, var(--card-width));
  gap: var(--gap);
  justify-content:left; 
  align-items: start;
  max-width: calc(var(--card-width) * 3 + var(--gap) * 2 + 4rem); 
  margin: 0 auto;
}
.card {
  width: 300px;
  background:white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba (0,0,0,0.1) ;
  display: flex;
  flex-direction: column;
  align-items: center;             
  transition: transform 0.2s ease;
}
 .card:hover {
  transform: translateY(-5px);
  background-color: darkgray;
}

.card img{
   width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 12px;

}
.product-name {
  font-size: 1.05rem;
  margin: 8px 0 6px;
  text-align: center;
}
.price {
  margin-bottom: 12px;
  font-weight: 600;
  text-align: center;
  color: #333;
}
.button{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color:  #4CAF50 ;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 200ms ease, transform 150ms ease;
  width: 100%;
}
.button:hover{
  background: dark grey;
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .card {
    width: 45%;
  }
}


@media (max-width: 480px) {
  .card{
    width:45;
  }

}




